* {
    margin: 0;
    padding: 0;
}



/* 白色主题 */
:root {
    --color-menu-bg: #fff;
    --font-color-mi: #000;
    --font-color-mi-hover: #1890ff;
    --color-bg-mi-hover: #ececec;
    --border-radius-mi: 2px;
    --transition-menu-time: 0.2s;
    --color-line-bg: #d3d3d3;
}

/*黑色主题，使用时把上面的白色主题注释掉，启用下面的css代码*/
/* :root {
    --color-bg: #e7e7e7;
    --color-menu-bg: #232324;
    --font-color-mi: #c9cdd4;
    --font-color-mi-hover: #a649d1;
    --color-bg-mi-hover: #303030;
    --border-radius-mi: 2px;
    --transition-menu-time: 0.2s;
    --color-line-bg: #333333;
} */
h1{
    font-size: 26px;
}

.content {
    background-color: #e7e7e7;
    display: flex;
}
body{
    overflow: hidden;
}

.menu-box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    width: fit-content;
    min-height: 100vh;
    padding: 6px 12px;
    box-sizing: border-box;
    background-color: var(--color-menu-bg);
}

.menu-box input[type='checkbox']:not(.HQCheck) {
    display: none;
}


.menu-box>label {
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translateX(50%);
    width: 56px;
    height: 56px;
    border-radius: 40px;
    background-color: var(--color-menu-bg);
    color: var(--font-color-mi);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-box>label>i {
    font-weight: 900;
    text-indent: -3px;
    font-size: 20px;
    transition: transform var(--transition-menu-time);
    transform: rotate(0deg);
}

.menu-box>label:hover {
    box-shadow: 0px 0px 2px 0px #000;
    color: var(--font-color-mi-hover);
}

.menu-box>input#menu-btn:checked+label>i {
    transform: rotate(180deg);
}

.menu {
    font-size: 18px;
    width: 220px;
    min-height: 100%;
    cursor: pointer;
    
    overflow: hidden;
    transition: width var(--transition-menu-time);
    color: var(--font-color-mi);
}

.menu-box>input#menu-btn:checked~.menu {
    width: 0;
}

.menu-box>input#menu-btn:checked~.menu>div {
    display: none;
}

.menu-title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 70px;
}

.menu-item>label{
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: var(--border-radius-mi);
    display: flex;
    align-items: center;
}

.menu-item>label:hover {
    color: var(--font-color-mi-hover);
}


.menu-item>label>i:first-child {
    flex: none;
    margin-right: 6px;
    font-size: 24px;
}

.menu-item>label>span {
    flex: 1;
}

.menu-item>label>i:last-child {
    flex: none;
    font-size: 20px;
    font-weight: 900;
    transform: rotate(0deg);
    transition: transform var(--transition-menu-time);
}

.menu-item>input:checked+label>i:last-child {
    transform: rotate(180deg);
}

.menu-content {
    height: 0;
    overflow: hidden;
    transition: height var(--transition-menu-time);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-menu-bg);
}

/* 选项，若 n 项，就 n * 40px */
.menu-item>input#menu-item1:checked~.menu-content {
    height: calc(8 * 40px);
}

.menu-item>input#menu-item2:checked~.menu-content {
    height: calc(6 * 40px);
}

.menu-content>input{
    display: none;
}

.menu-content>input:checked+label{
    background-color: var(--color-bg-mi-hover);
    color: var(--font-color-mi-hover);
}

.menu-content>label {
    width: 100%;
    text-indent: 20px;
    line-height: 40px;
    border-radius: var(--border-radius-mi);
}


.menu-content>label:hover {
    background-color: var(--color-bg-mi-hover);
    color: var(--font-color-mi-hover);
}


.set-line {
    margin: 20px 0 10px 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-line-bg);
}



.spin-button {
    position: relative;
    margin-top: 30px;
    width: 100px;
}

.spin-button__input {
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5rem;
    width: 80px;
    outline: none;
    margin-left: 2px;
    box-shadow: 0px 0px 5px 0px #000;overflow-y: auto;display: block;
    
}

.spin-button__label{
    color: var(--border-radius-mi);
    transition: all 0.3s;
    position:absolute;
    top:50%;
    left: 0.5em;
    transform: translateY(-50%);
    padding: 2px;
    pointer-events: none;
}

.spin-button__input:valid ~ label{
    top:-35%;
    left: 0;
}
.spin-button__input:focus ~ label{
    top:-35%;
    left: 0;
}

.Level-interval{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.missionListBox{
    height: 450px;
}

.missionList{
    position: relative;
    top: 2%;
    left: 2%;
    width: 95%;
    height: 100%;
    box-shadow: 0px 0px 5px 0px #000;overflow-y: auto;display: block;
    border-radius: 0.25rem;
    overflow: hidden;
}

.missionList::-webkit-scrollbar{
    width: 0;
}

.missionList .thead{    
    width: 100%;
    background-color:#e7e7e7 ;
    box-shadow: 0px 0px 0px 0px #000;overflow-y: auto;display: block;

}

.missionList .thead .item{
    text-align: center;display: flex; justify-content: space-around;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}


.missionListBody{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px #000;overflow-y: auto;display: block;
    table-layout: fixed;
}

.missionListBody .item{
    margin-top: 5px;	
    text-align: center;display: flex; justify-content: space-around;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.missionListBody .item:hover{
    background-color: var(--color-bg-mi-hover);
    color: var(--font-color-mi-hover);
}

.missionListBody .item>td{
    
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;  
}

.item .box{
    flex-shrink: 0;
    flex: 1;
}

.name{
    flex: 3;
}

.place{
    flex: 2;
}


.main{
    width: 100%;
}

.CurrentExp{
    width: 90%;
}

.resultBox{
    width: 100%;
    height: 45%;
    margin-top: 2%;
    display: flex;
    
}

.resultList{
    width: 50%;
    height: 410px;
}

.selectList{
    top: 5%;
    margin-left: 4%;
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 5px 0px #000;overflow-y: auto;display: block;
    border-radius: 0.25rem;
    overflow: hidden;
}

.selectList::-webkit-scrollbar{
    width: 0;
}

.selectList .thead{    
    width: 100%;
    background-color:#e7e7e7 ;
    box-shadow: 0px 0px 0px 0px #000;overflow-y: auto;display: block;

}

.selectList .thead .item{
    text-align: center;display: flex; justify-content: space-around;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.selectListBody{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px #000;overflow-y: auto;display: block;
    table-layout: fixed;
}

.selectListBody .item{
    margin-top: 5px;	
    text-align: center;display: flex; justify-content: space-around;
    display: flex;
    align-items: baseline;
}


.selectListBody .item:hover{
    background-color: var(--color-bg-mi-hover);
    color: var(--font-color-mi-hover);
}

.selectListBody .item>td{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;  
}


.result{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.result>div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    height: 40%;
    width: 50%;
    margin-top: 5%;
}

.progress-box{
    flex: 2;
}

.progress-bar{
    top: 50%;
    width: 90%;
    height: 5px;
    border-radius: 5px;
    border: 2px solid rgb(58, 74, 52);
    background-color: rgb(66, 35, 0);
}

.inside-per{
    width: 0%;
    height: 4px;
    margin-top: 1px;
    margin-left: 1px;
    border-top-left-radius:38px;
    border-bottom-left-radius: 38px;
    background-color: rgb(252, 225, 161);
    
}

.inside-text{
    width: 100%;
    display: flex;
    align-items: baseline;
}

.afterExp{
    flex: 5;
}

.afterLevel{
    flex: 1;
}

.List::-webkit-scrollbar {
    /*滚动条宽*/
    width: 4px;
  }

  .List::-webkit-scrollbar-thumb {
    /*正在滑动的小块*/
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
  }

  .List::-webkit-scrollbar-track {
    /*滚动内部轨道*/
    box-shadow: inset 0 0 5px rgba(204, 91, 91, 0.2);
    background: rgb(159, 159, 163);
    border-radius: 10px;
  }

.HQ{
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

.HQ>div{
    position: absolute;
    left: 70px;
}

.HQCheck{
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.HQCheck::before{
    content: "";
    position: absolute;
    width: 50px;
    top: 3px;
    height: 20px;
    background: rgb(39, 39, 39);
    border-radius: 40px;
    box-shadow: 0 0 3px black;
}

.HQCheck::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    top: 5px;
    left: 2px;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
    transition: 0.2s cubic-bezier(.53,0,.46,1);
}

.HQCheck:checked::before{
    background: gray;
}

.HQCheck:checked::after{
    left: 32px;
}

a{
    color: #000;
    text-decoration-line:none;
    width: 100%;
    text-indent: 20px;
    line-height: 40px;
    border-radius: var(--border-radius-mi);
}

a:hover{
    color: var(--font-color-mi-hover);
}